label{
	display: block;
	margin-bottom: 1em;
	input,
	textarea{
		display: block;
		width: 90%;
	}
}
.contact-form{
	overflow: hidden;
	display: block;
	max-height: 50em;
	opacity: 1;
	@include transition(max-height .125s);
	@include transition(opacity .125s);
	&.is-submitted{
		opacity: 0;
		max-height:0;
	}
}
.form-success,
.form-error{
	display: block;
	max-height: 0;
	overflow: hidden;
	@include transition(max-height .5s);
	&.is-active{
		max-height: 10em;
	}
}
